.page-section {
  width: 100%;
  margin-bottom: 1.2rem;
}
.content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  top: 0;
}
.footer {
  height: 3rem;
  bottom: 0;
}
.m-header {
  margin-top: 2rem !important;
}
.avatar {
  height: 5rem;
  width: 5rem;
}
