.btn {
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;

  background-color: var(--primary);
  color: var(--white);
}
.btn:hover {
  cursor: pointer;
  outline: 1px solid var(--white);
  text-decoration: none !important;
}
.btn-primary {
}
.btn-secondary {
  outline: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
}
.btn-link {
  background-color: transparent;
}
