h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  font-weight: 1000;
}

p,
a {
  color: var(--white);
  font-size: 1.1rem;
}

a:hover {
  color: var(--grey);
}

.text-sm {
  font-size: 0.9rem;
}
.text-lg {
  font-size: 1.3rem;
}
.text-xl {
  font-size: 1.5rem;
}

a.nav-link {
  color: var(--grey);
  text-decoration: none;
}
a.nav-link:hover {
  text-decoration: underline;
}

.transform-upper {
  text-transform: uppercase;
}

.transform-lower {
  text-transform: lowercase;
}

.font-sm {
  font-size: 0.875rem;
}

.font-lg {
  font-size: 1.4rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.text-none {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.text-white {
  color: var(--white) !important;
}
.text-grey {
  color: var(--grey) !important;
}
.text-red {
  color: var(--red) !important;
}
.text-orange {
  color: var(--orange) !important;
}
.text-blue {
  color: var(--blue) !important;
}
.text-pink {
  color: var(--pink) !important;
}
.text-purple {
  color: var(--purple) !important;
}
.text-green {
  color: var(--green) !important;
}
.text-dark-green {
  color: var(--dark-green) !important;
}
.text-yellow {
  color: var(--yellow) !important;
}

/* blocks */
.quote-block {
  border-left: 0.2rem solid var(--white);
  padding-left: 1rem;
}
.quote-block-orange {
  border-left: 0.2rem solid var(--orange);
  padding-left: 1rem;
}
.quote-block-red {
  border-left: 0.2rem solid var(--red);
  padding-left: 1rem;
}

/* underline */
.highlight-underline-pink {
  box-shadow: inset 0 -0.45em 0 var(--pink);
}
.highlight-underline-purple {
  box-shadow: inset 0 -0.45em 0 var(--purple);
}
.highlight-underline-green {
  box-shadow: inset 0 -0.45em 0 var(--green);
}
.highlight-underline-dark-green {
  box-shadow: inset 0 -0.45em 0 var(--dark-green);
}
.highlight-underline-blue {
  box-shadow: inset 0 -0.45em 0 var(--blue);
}
.highlight-underline-yellow {
  box-shadow: inset 0 -0.45em 0 var(--yellow);
}
.highlight-underline-orange {
  box-shadow: inset 0 -0.45em 0 var(--orange);
}
