.page-section {
  width: 100%;
  margin-bottom: 1.2rem;
}
.content {
  width: min(1000px, 90%);
  margin-left: auto;
  margin-right: auto;
}
.header {
  top: 0;
  margin-bottom: 0 !important;
}
.footer {
  height: 3rem;
  bottom: 0;
}
.m-header {
  margin-top: 2rem !important;
}
.avatar {
  height: 5rem;
  width: 5rem;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
