.relative {
  position: relative;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.overflow-h-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

/* Width */
.w-full {
  width: 100%;
}
.w-10 {
  width: 10%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-33 {
  width: 33%;
}
.w-66 {
  width: 66%;
}
.w-67 {
  width: 67%;
}
.w-25 {
  width: 25%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}

/* Height */
.h-full {
  height: 100%;
}
.h-33 {
  height: 33%;
}
.h-66 {
  height: 66%;
}
.h-67 {
  height: 67%;
}
.h-25 {
  height: 25%;
}
.h-75 {
  height: 75%;
}
.h-50 {
  height: 50%;
}
.h-80 {
  height: 80%;
}
.h-85 {
  height: 85%;
}
.h-90 {
  height: 90%;
}
.h-95 {
  height: 95%;
}
