.animate-reveal-horizonal {
  animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  opacity: 0;
  transform: rotateY(-90deg);
  transform-origin: center center;
}
@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}
