:root {
  --size-1: 0.1rem;
  --size-2: 0.3rem;
  --size-3: 0.5rem;
  --size-4: 0.7rem;
  --size-5: 0.9rem;

  --size-lg: 1rem;
  --size-xl: 1.5rem;
  --size-2xl: 2rem;
  --size-3xl: 2.5rem;
}

.v-align-middle {
  vertical-align: middle;
}

.m-auto {
  margin: auto;
}
.m-auto-v {
  margin-top: auto;
  margin-bottom: auto;
}
.m-auto-h {
  margin-left: auto;
  margin-right: auto;
}
.m-auto-top {
  margin-top: auto;
}
.m-auto-bottom {
  margin-bottom: auto;
}
.m-auto-left {
  margin-left: auto;
}
.m-auto-right {
  margin-right: auto;
}

<!-- prettier-ignore-start -->

.m-0 { margin: 0 !important; }
.mt-0 { margin-top: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }
.ml-0 { margin-left: 0 !important; }
.mr-0 { margin-right: 0 !important; }
.m-1 { margin: var(--size-1) !important; }
.mt-1 { margin-top: var(--size-1) !important; }
.mb-1 { margin-bottom: var(--size-1) !important; }
.ml-1 { margin-left: var(--size-1) !important; }
.mr-1 { margin-right: var(--size-1) !important; }
.m-2 { margin: var(--size-2) !important; }
.mt-2 { margin-top: var(--size-2) !important; }
.mb-2 { margin-bottom: var(--size-2) !important; }
.ml-2 { margin-left: var(--size-2) !important; }
.mr-2 { margin-right: var(--size-2) !important; }
.m-3 { margin: var(--size-3) !important; }
.mt-3 { margin-top: var(--size-3) !important; }
.mb-3 { margin-bottom: var(--size-3) !important; }
.ml-3 { margin-left: var(--size-3) !important; }
.mr-3 { margin-right: var(--size-3) !important; }
.m-4 { margin: var(--size-4) !important; }
.mt-4 { margin-top: var(--size-4) !important; }
.mb-4 { margin-bottom: var(--size-4) !important; }
.ml-4 { margin-left: var(--size-4) !important; }
.mr-4 { margin-right: var(--size-4) !important; }
.m-5 { margin: var(--size-5) !important; }
.mt-5 { margin-top: var(--size-5) !important; }
.mb-5 { margin-bottom: var(--size-5) !important; }
.ml-5 { margin-left: var(--size-5) !important; }
.mr-5 { margin-right: var(--size-5) !important; }
.m-lg { margin: var(--size-lg) !important; }
.mt-lg { margin-top: var(--size-lg) !important; }
.mb-lg { margin-bottom: var(--size-lg) !important; }
.ml-lg { margin-left: var(--size-lg) !important; }
.mr-lg { margin-right: var(--size-lg) !important; }
.m-xl { margin: var(--size-xl) !important; }
.mt-xl { margin-top: var(--size-xl) !important; }
.mb-xl { margin-bottom: var(--size-xl) !important; }
.ml-xl { margin-left: var(--size-xl) !important; }
.mr-xl { margin-right: var(--size-xl) !important; }
.m-2xl { margin: var(--size-2xl) !important; }
.mt-2xl { margin-top: var(--size-2xl) !important; }
.mb-2xl { margin-bottom: var(--size-2xl) !important; }
.ml-2xl { margin-left: var(--size-2xl) !important; }
.mr-2xl { margin-right: var(--size-2xl) !important; }
.m-3xl { margin: var(--size-3xl) !important; }
.mt-3xl { margin-top: var(--size-3xl) !important; }
.mb-3xl { margin-bottom: var(--size-3xl) !important; }
.ml-3xl { margin-left: var(--size-3xl) !important; }
.mr-3xl { margin-right: var(--size-3xl) !important; }
.p-0 { padding: 0 !important; }
.pt-0 { padding-top: 0 !important; }
.pb-0 { padding-bottom: 0 !important; }
.pl-0 { padding-left: 0 !important; }
.pr-0 { padding-right: 0 !important; }
.p-1 { padding: var(--size-1) !important; }
.pt-1 { padding-top: var(--size-1) !important; }
.pb-1 { padding-bottom: var(--size-1) !important; }
.pl-1 { padding-left: var(--size-1) !important; }
.pr-1 { padding-right: var(--size-1) !important; }
.p-2 { padding: var(--size-2) !important; }
.pt-2 { padding-top: var(--size-2) !important; }
.pb-2 { padding-bottom: var(--size-2) !important; }
.pl-2 { padding-left: var(--size-2) !important; }
.pr-2 { padding-right: var(--size-2) !important; }
.p-3 { padding: var(--size-3) !important; }
.pt-3 { padding-top: var(--size-3) !important; }
.pb-3 { padding-bottom: var(--size-3) !important; }
.pl-3 { padding-left: var(--size-3) !important; }
.pr-3 { padding-right: var(--size-3) !important; }
.p-4 { padding: var(--size-4) !important; }
.pt-4 { padding-top: var(--size-4) !important; }
.pb-4 { padding-bottom: var(--size-4) !important; }
.pl-4 { padding-left: var(--size-4) !important; }
.pr-4 { padding-right: var(--size-4) !important; }
.p-5 { padding: var(--size-5) !important; }
.pt-5 { padding-top: var(--size-5) !important; }
.pb-5 { padding-bottom: var(--size-5) !important; }
.pl-5 { padding-left: var(--size-5) !important; }
.pr-5 { padding-right: var(--size-5) !important; }
.p-lg { padding: var(--size-lg) !important; }
.pt-lg { padding-top: var(--size-lg) !important; }
.pb-lg { padding-bottom: var(--size-lg) !important; }
.pl-lg { padding-left: var(--size-lg) !important; }
.pr-lg { padding-right: var(--size-lg) !important; }
.p-xl { padding: var(--size-xl) !important; }
.pt-xl { padding-top: var(--size-xl) !important; }
.pb-xl { padding-bottom: var(--size-xl) !important; }
.pl-xl { padding-left: var(--size-xl) !important; }
.pr-xl { padding-right: var(--size-xl) !important; }
.p-2xl { padding: var(--size-2xl) !important; }
.pt-2xl { padding-top: var(--size-2xl) !important; }
.pb-2xl { padding-bottom: var(--size-2xl) !important; }
.pl-2xl { padding-left: var(--size-2xl) !important; }
.pr-2xl { padding-right: var(--size-2xl) !important; }
.p-3xl { padding: var(--size-3xl) !important; }
.pt-3xl { padding-top: var(--size-3xl) !important; }
.pb-3xl { padding-bottom: var(--size-3xl) !important; }
.pl-3xl { padding-left: var(--size-3xl) !important; }
.pr-3xl { padding-right: var(--size-3xl) !important; }

<!-- prettier-ignore-end -->
