@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/redhat/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JB Mono';
  src: url('/public/fonts/mono/JetBrainsMono_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

pre {
  font-family: 'JB Mono', monospace;
}

:root {
  color-scheme: dark;
  color: var(--white);
  background-color: var(--dark-grey);
  overflow: visible;

  font-size: 1em !important;
  font-family: 'Red Hat Display', serif !important;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variables */
  --purple: #764b8e;
  --pink: #aa5585;
  --blue: #4e648e;
  --yellow: #d4d46a;
  --orange: #d4a16a;
  --red: #bf607b;
  --green: #a4c663;
  --dark-green: rgb(164, 198, 99, 0.5);
  --white: rgba(255, 255, 255, 0.87);
  --grey: rgba(255, 255, 255, 0.5);
  --dark-grey: #151515;
  --black: #000;

  --border-radius: 0.4rem;
}

.mono {
  font-family: 'JB Mono', monospace !important;
}

.viewport {
  max-width: 1000px;
  margin: 0 auto;
}

.primary-content {
  padding: 0 5rem;
  height: 97vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.secondary-content {
  height: 97vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.sticky {
  position: sticky !important;
}

/* display */
.d-none {
  display: none;
}
.d-block {
  display: block;
}

/* overflow */
.of-hidden {
  overflow: hidden;
}
