h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}

p,
a {
  color: var(--white);
  font-size: 1.1rem;
}

a:hover {
  color: var(--link);
}

.text-sm {
  font-size: 0.9rem;
}
.text-lg {
  font-size: 1.3rem;
}
.text-xl {
  font-size: 1.5rem;
}

a.nav-link {
  color: var(--primary);
  font-size: 1.3rem;
  text-decoration: none;
}
a.nav-link:hover {
  text-decoration: underline;
}

.transform-upper {
  text-transform: uppercase;
}

.transform-lower {
  text-transform: lowercase;
}

.font-sm {
  font-size: 0.875rem;
}

.font-lg {
  font-size: 1.4rem;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.desktop-text-center {
  @media (min-width: 800px) {
    text-align: center !important;
  }
}

.desktop-text-start {
  @media (min-width: 800px) {
    text-align: start !important;
  }
}

.desktop-text-end {
  @media (min-width: 800px) {
    text-align: end !important;
  }
}

.mobile-text-end {
  @media (max-width: 800px) {
    text-align: end !important;
  }
}

.mobile-text-start {
  @media (max-width: 800px) {
    text-align: end !important;
  }
}

.mobile-text-center {
  @media (max-width: 800px) {
    text-align: center !important;
  }
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic !important;
}

.text-none {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-white {
  color: var(--white) !important;
}
.text-grey {
  color: var(--grey) !important;
}
.text-red {
  color: var(--red) !important;
}
.text-orange {
  color: var(--orange) !important;
}
.text-blue {
  color: var(--blue) !important;
}
.text-pink {
  color: var(--pink) !important;
}
.text-purple {
  color: var(--purple) !important;
}
.text-green {
  color: var(--green) !important;
}
.text-dark-green {
  color: var(--dark-green) !important;
}
.text-yellow {
  color: var(--yellow) !important;
}

.text-rose {
  color: var(--rose) !important;
}
.text-fandango {
  color: var(--fandango) !important;
}
.text-grape {
  color: var(--grape) !important;
}
.text-chrysler-blue {
  color: var(--chrysler-blue) !important;
}
.text-dark-blue {
  color: var(--dark-blue) !important;
}
.text-zaffre {
  color: var(--zaffre) !important;
}
.text-palatinate-blue {
  color: var(--palatinate-blue) !important;
}
.text-neon-blue {
  color: var(--neon-blue) !important;
}
.text-chefchaouen-blue {
  color: var(--chefchaouen-blue) !important;
}
.text-vivid-sky-blue {
  color: var(--vivid-sky-blue) !important;
}

/* blocks */
.quote-block {
  border-left: 0.2rem solid var(--white);
  padding-left: 1rem;
}
.quote-block-orange {
  border-left: 0.2rem solid var(--orange);
  padding-left: 1rem;
}
.quote-block-red {
  border-left: 0.2rem solid var(--red);
  padding-left: 1rem;
}

/* underline */
.highlight-underline-primary {
  box-shadow: inset 0 -0.5em 0 var(--primary);
}
.highlight-underline-secondary {
  box-shadow: inset 0 -0.45em 0 var(--secondary);
}
.highlight-underline-pink {
  box-shadow: inset 0 -0.45em 0 var(--pink);
}
.highlight-underline-purple {
  box-shadow: inset 0 -0.45em 0 var(--purple);
}
.highlight-underline-grape {
  box-shadow: inset 0 -0.45em 0 var(--grape);
}
.highlight-underline-green {
  box-shadow: inset 0 -0.45em 0 var(--green);
}
.highlight-underline-dark-green {
  box-shadow: inset 0 -0.45em 0 var(--dark-green);
}
.highlight-underline-blue {
  box-shadow: inset 0 -0.45em 0 var(--blue);
}
.highlight-underline-yellow {
  box-shadow: inset 0 -0.45em 0 var(--yellow);
}
.highlight-underline-orange {
  box-shadow: inset 0 -0.45em 0 var(--orange);
}
