@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/redhat/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JB Mono';
  src: url('/fonts/mono/JetBrainsMono_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetalMania';
  src: url('/fonts/MetalMania-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rockakura';
  src: url('/fonts/Rockakura-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Death Stinger';
  src: url('/fonts/DeathStingerItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('/fonts/spectral/Spectral-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral SemiBold';
  src: url('/fonts/spectral/Spectral-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral Italic';
  src: url('/fonts/spectral/Spectral-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral Bold';
  src: url('/fonts/spectral/Spectral-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

pre {
  font-family: 'JB Mono', monospace;
}

:root {
  color-scheme: dark;
  color: var(--white);
  background-color: var(--black);
  overflow: visible;

  font-size: 1.1em !important;
  font-family: 'Spectral', serif !important;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variables */
  --mobile: 800px;

  /* color palettes */
  /* primary */
  --primary: darkred;
  --secondary: white;
  --link: red;

  /* neon */
  --rose: #f72585ff;
  --fandango: #b5179eff;
  --grape: #7209b7ff;
  --chrysler-blue: #560badff;
  --dark-blue: #480ca8ff;
  --zaffre: #3a0ca3ff;
  --palatinate-blue: #3f37c9ff;
  --neon-blue: #4361eeff;
  --chefchaouen-blue: #4895efff;
  --vivid-sky-blue: #4cc9f0ff;

  /* base dark palette */
  --purple: #764b8e;
  --pink: #aa5585;
  --blue: #4e648e;
  --yellow: #d4d46a;
  --orange: #d4a16a;
  --red: #bf607b;
  --green: #a4c663;
  --dark-green: rgb(164, 198, 99, 0.5);
  --white: rgba(255, 255, 255, 0.87);
  --grey: rgba(255, 255, 255, 0.5);
  --dark-grey: #151515;
  --black: #000;

  /* dark-blue palettee */
  --dark-blue-grey: #1b262c;
  --dark-dark-blue: #0f4c75;
  --dark-blue: #3282b8;
  --dark-light-blue: #bbe1fa;

  --border-radius: 0.4rem;
}

.italic {
  font-family: 'Spectral Italic', serif !important;
}

.metal {
  font-family: 'MetalMania', fantasy !important;
}

.rockakura {
  font-family: 'Rockakura', fantasy !important;
}

.deathstinger {
  font-family: 'Death Stinger', fantasy !important;
}

.mono {
  font-family: 'JB Mono', monospace !important;
}

.viewport {
  max-width: 1000px;
  margin: 0 auto;
}

.primary-content {
  min-height: 80vh;
}

.sticky {
  z-index: 2;
  position: sticky !important;
}

/* display */
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-inline {
  display: inline;
}

/* overflow */
.of-hidden {
  overflow: hidden;
}

.initial {
  font-family: 'Death Stinger', serif !important;
  font-size: 5rem;
  float: left;
  margin-right: 1.5rem;
}
