.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.justify-evenly {
  justify-content: space-evenly !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-around {
  justify-content: space-around !important;
}

.justify-start {
  justify-content: start !important;
}

.justify-end {
  justify-content: end !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-grow-2 {
  flex-grow: 2 !important;
}
