.viewport {
  max-width: 1000px;
  margin: 0 auto;
}

.primary-content {
  padding: 0 5rem;
  height: 97vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.secondary-content {
  height: 97vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.text-center {
  text-align: center;
}

.sticky {
  position: sticky !important;
}

/* Columns */

/* Rows */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-around {
  justify-content: space-around !important;
}

.justify-start {
  justify-content: start !important;
}

.justify-end {
  justify-content: end !important;
}

/* Width */
.w-full {
  width: 100%;
}
.w-33 {
  width: 33%;
}
.w-66 {
  width: 66%;
}
.w-67 {
  width: 67%;
}
.w-25 {
  width: 25%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}

/* Height */
.h-full {
  width: 100%;
}
.h-33 {
  width: 33%;
}
.h-66 {
  width: 66%;
}
.h-67 {
  width: 67%;
}
.h-25 {
  width: 25%;
}
.h-75 {
  width: 75%;
}
.h-50 {
  width: 50%;
}
.h-80 {
  width: 80%;
}
.h-85 {
  width: 85%;
}
.h-90 {
  width: 90%;
}
.h-95 {
  width: 95%;
}

/* Background */
.bg-purple {
  background-color: var(--purple) !important;
}
.bg-pink {
  background-color: var(--pink) !important;
}
.bg-blue {
  background-color: var(--blue) !important;
}
.bg-yellow {
  background-color: var(--yellow) !important;
}
.bg-orange {
  background-color: var(--orange) !important;
}
.bg-red {
  background-color: var(--red) !important;
}
.bg-green {
  background-color: var(--green) !important;
}
.bg-dark-green {
  background-color: var(--dark-green) !important;
}
.bg-white {
  background-color: var(--white) !important;
}
.bg-grey {
  background-color: var(--grey) !important;
}
.bg-dark-grey {
  background-color: var(--dark-grey) !important;
}
.bg-black {
  background-color: var(--black) !important;
}

/* Text */
.text-sm {
  font-size: 0.9rem;
}
.text-lg {
  font-size: 1.1rem;
}
.text-xl {
  font-size: 1.2rem;
}
.text-white {
  color: var(--white) !important;
}
.text-grey {
  color: var(--grey) !important;
}
.text-red {
  color: var(--red) !important;
}
.text-orange {
  color: var(--orange) !important;
}
.text-blue {
  color: var(--blue) !important;
}
.text-pink {
  color: var(--pink) !important;
}
.text-purple {
  color: var(--purple) !important;
}
.text-green {
  color: var(--green) !important;
}
.text-dark-green {
  color: var(--dark-green) !important;
}
.text-yellow {
  color: var(--yellow) !important;
}

.outline-purple {
  outline-color: var(--purple);
}
.outline-pink {
  outline-color: var(--pink);
}
.outline-blue {
  outline-color: var(--blue);
}
.outline-yellow {
  outline-color: var(--yellow);
}
.outline-orange {
  outline-color: var(--orange);
}
.outline-red {
  outline-color: var(--red);
}
.outline-green {
  outline-color: var(--green);
}
.outline-dark-green {
  outline-color: var(--dark-green);
}
.outline-white {
  outline-color: var(--white);
}
.outline-grey {
  outline-color: var(--grey);
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.text-none {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

/* Margin */
.m-auto {
  margin: auto;
}
.m-vauto {
  margin-top: auto;
  margin-bottom: auto;
}
.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 0.1rem;
}
.m-2 {
  margin: 0.3rem;
}
.m-3 {
  margin: 0.5rem;
}
.m-lg {
  margin: 1rem;
}
.m-xl {
  margin: 1.5rem;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.1rem !important;
}
.mb-2 {
  margin-bottom: 0.3rem !important;
}
.mb-3 {
  margin-bottom: 0.5rem !important;
}
.mb-4 {
  margin-bottom: 0.7rem !important;
}
.mb-5 {
  margin-bottom: 0.9rem !important;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 0.1rem !important;
}
.ml-2 {
  margin-left: 0.3rem !important;
}
.ml-3 {
  margin-left: 0.5rem !important;
}
.ml-4 {
  margin-left: 0.7rem !important;
}
.ml-5 {
  margin-left: 0.9rem !important;
}
.ml-lg {
  margin-left: 1rem !important;
}
.ml-xl {
  margin-left: 1.5rem !important;
}
.ml-2xl {
  margin-left: 2rem !important;
}

.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 0.1rem !important;
}
.mr-2 {
  margin-right: 0.3rem !important;
}
.mr-3 {
  margin-right: 0.5rem !important;
}
.mr-4 {
  margin-right: 0.7rem !important;
}
.mr-5 {
  margin-right: 0.9rem !important;
}
.mr-2xl {
  margin-right: 2rem !important;
}
.mr-3xl {
  margin-right: 3rem !important;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 0.1rem !important;
}
.mt-2 {
  margin-top: 0.3rem !important;
}
.mt-3 {
  margin-top: 0.5rem !important;
}
.mt-4 {
  margin-top: 0.7rem !important;
}
.mt-5 {
  margin-top: 0.9rem !important;
}

.v-align-middle {
  vertical-align: middle;
}

/* Padding */
.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 0.2rem;
}
.p-2 {
  padding: 0.4rem;
}
.p-3 {
  padding: 0.6rem;
}
.p-lg {
  padding: 1rem;
}

.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}

.pt-1 {
  padding-top: 0.2rem !important;
}
.pb-1 {
  padding-bottom: 0.2rem !important;
}
.pl-1 {
  padding-left: 0.2rem !important;
}
.pr-1 {
  padding-right: 0.2rem !important;
}

.pt-2 {
  padding-top: 0.4rem !important;
}
.pb-2 {
  padding-bottom: 0.4rem !important;
}
.pl-2 {
  padding-left: 0.4rem !important;
}
.pr-2 {
  padding-right: 0.4rem !important;
}

.pt-3 {
  padding-top: 0.6rem !important;
}
.pb-3 {
  padding-bottom: 0.6rem !important;
}
.pl-3 {
  padding-left: 0.6rem !important;
}
.pr-3 {
  padding-right: 0.6rem !important;
}

.pt-lg {
  padding-top: 1rem !important;
}
.pb-lg {
  padding-bottom: 1rem !important;
}
.pl-lg {
  padding-left: 1rem !important;
}
.pr-lg {
  padding-right: 1rem !important;
}

.pt-xl {
  padding-top: 1.5rem !important;
}
.pb-xl {
  padding-bottom: 1.5rem !important;
}
.pl-xl {
  padding-left: 1.5rem !important;
}
.pr-xl {
  padding-right: 1.5rem !important;
}

/* Outline/Border */
.border-none {
  border: none;
}

.border {
  border: 1px solid var(--white);
}

.border-top {
  border-top: 1px solid var(--white);
}
.border-bottom {
  border-bottom: 1px solid var(--white);
}

.border-rounded {
  border-radius: var(--border-radius);
}
.border-top-rounded {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.border-bottom-rounded {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.outline-none {
  outline: none;
}
.outline-1 {
  outline: 0.1rem !important;
}
.outline-2 {
  outline: 0.2rem !important;
}
.outline-3 {
  outline: 0.3rem !important;
}
.outline-

/* Input */
input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  padding: 0.5rem;
}
input:focus {
  outline: none;
  border: 1px solid var(--white);
}

.header-input {
  font-size: 1.5rem;
  color: var(--red);
}

/* Text blocks */
.quote-block {
  border-left: 0.2rem solid var(--white);
  padding-left: 1rem;
}
.quote-block-orange {
  border-left: 0.2rem solid var(--orange);
  padding-left: 1rem;
}
.quote-block-red {
  border-left: 0.2rem solid var(--red);
  padding-left: 1rem;
}

/* Buttons */
.btn {
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;

  background-color: var(--purple);
  color: var(--white);
}
.btn:hover {
  outline: 1px solid var(--white);
}
.btn-primary {
  background-color: var(--dark-green);
}
.btn-secondary {
  background-color: var(--blue);
}
.btn-link {
  background-color: transparent;
}
.btn:hover {
  outline: none !important;
  text-decoration: underline !important;
}

/* display */
.d-none {
  display: none;
}
.d-block {
  display: block;
}

/* card */
.card {
  height: 100%;
  width: 100%;
}
.card-image {
  width: 20rem !important;
}

/* overflow */
.of-hidden {
  overflow: hidden;
}
